.idea/*
out/*
java-application-dev-class.iml
src/lab11/count.txt
src/lab11/source.txt
src/week01/*
src/week02/*
src/week03/*
src/week04/*
src/week05/*
src/week06/*
src/week07/*
src/week08/*
src/week09/*
src/week10/*
src/week11/*
src/week12/*
src/week13/*
src/week14/*
src/week15/*
src/week16/*